name: Build
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
    tags:
    - "v*.*.*"

jobs:
  build:
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-26, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        fetch-depth: 0

    - name: Install .NET SDK
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
      with:
        global-json-file: global.json

    - name: Restore
      run: dotnet restore
      
    - name: Restore tools
      run: dotnet tool restore

    - name: Find version number
      id: version
      shell: bash
      run: |
        if [[ "${{ github.ref }}" == refs/tags/* ]]
        then
          echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT;
        else
          echo "VERSION=0.0.0-alpha.${{ github.run_number }}" >> $GITHUB_OUTPUT;
        fi

    - name: Lint - format
      run: dotnet format --no-restore --verify-no-changes

    - name: Lint - csharpier
      run: dotnet csharpier check .
      
    - name: Build
      run: dotnet build --configuration Release -p:Version=${{ steps.version.outputs.VERSION }}

    - name: Test
      run: dotnet test --no-build --configuration Release --output Detailed --coverage --coverage-output-format cobertura --coverage-output cobertura.xml --report-trx

    - name: Test Report
      uses: phoenix-actions/test-reporting@f957cd93fc2d848d556fa0d03c57bc79127b6b5e # v15
      if: always()
      with:
        name: Test results (${{ matrix.os }})
        path: "**/*.trx"
        reporter: dotnet-trx
        output-to: 'step-summary'
        fail-on-error: false

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    - name: Pack for any
      run: |
        dotnet pack --configuration Release --runtime any -p:Version=${{ steps.version.outputs.VERSION }}
        dotnet pack --configuration Release -p:Version=${{ steps.version.outputs.VERSION }}

    - name: Pack for ubuntu
      if: matrix.os == 'ubuntu-24.04'
      run: |
        dotnet pack --configuration Release --runtime linux-x64 -p:Version=${{ steps.version.outputs.VERSION }}
      
    - name: Pack for ubuntu arm
      if: matrix.os == 'ubuntu-24.04-arm'
      run: |
        dotnet pack --configuration Release --runtime linux-arm64 -p:Version=${{ steps.version.outputs.VERSION }}

    - name: Pack for macos
      if: matrix.os == 'macos-26'
      run: |
        dotnet pack --configuration Release --runtime osx-x64 -p:Version=${{ steps.version.outputs.VERSION }}
        dotnet pack --configuration Release --runtime osx-arm64 -p:Version=${{ steps.version.outputs.VERSION }}

    - name: Pack for windows
      if: matrix.os == 'windows-latest'
      run: |
        dotnet pack --configuration Release --runtime win-x64 -p:Version=${{ steps.version.outputs.VERSION }}
        dotnet pack --configuration Release --runtime win-arm64 -p:Version=${{ steps.version.outputs.VERSION }}

    - name: Test - Package
      shell: bash
      run: ./build/tool-test.sh

    - name: Upload NuGet artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: nuget
        path: src/DotnetSops.CommandLine/bin/nupkg/*.*
        if-no-files-found: error

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Download NuGet artifact
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
      with:
        name: nuget

    - name: Create release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true
        generate_release_notes: true
        fail_on_unmatched_files: true
        prerelease: ${{ contains(github.ref, '-') }}
        files: |
          *.nupkg
          *.snupkg
