name: Publish
on:
  release:
    types:
    - published

jobs:
  release:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest
    steps:
    - name: Download release artifact
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh release download ${{ github.ref_name }} --repo MPBrun/dotnet-sops

    - name: NuGet login
      uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 # v1
      id: login
      with:
        user: ${{ secrets.NUGET_USER }}

    - name: Publish NuGet package on nuget.org
      run: dotnet nuget push "*.nupkg" --source https://api.nuget.org/v3/index.json --api-key "${{ steps.login.outputs.NUGET_API_KEY }}"
